@use '../base/mixins' as *;
@use '../base/colors' as c;

.card {
  width: 30%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.15);
  padding: 1vw;
  border-radius: 15px;
  background-color: c.$blue-color;
  box-sizing: border-box;
  color: c.$dark-blue-color;

  @include media(mobile) {
    width: 45%;
    padding: 1.5vw;
  }

  @include media(smallest) {
    width: 100%;
    border-radius: 5px;
    padding: 2vw;
  }

  &_width_45 {
    width: 45%;

    @include media(tablet) {
      width: 100%;
    }
  }

  &_width_100 {
    width: 100%;
    box-sizing: border-box;
  }

  &__header {
    display: flex;
    width: 100%;
    margin-bottom: 1vw;
  }



  &__link {
    display: contents;

    &:hover,
    &:visited:hover {
      color: c.$dark-blue-color !important;
    }
  }

  &__title {
    width: 100%;
    font-size: 2vw;
    text-align: center;
    margin-bottom: 1vw;

    @include media(mobile) {
      font-size: 3vw;
    }

    @include media(smallest) {
      font-size: 5vw;
    }

    &_width_85 {
      width: 85%;
    }
  }

  &__title-link {

    &:hover,
    &:visited:hover {
      color: c.$light-blue-color !important;
    }
  }
  
  &__top {
    display: flex;
    align-items: center;
    width: 95%;
    justify-content: space-between;
    margin: 0 auto;

    .card__title {
      width: min-content;
      margin-bottom: 0;
    }
  }

  &__image {
    width: 40%;
    height: fit-content;
    border-radius: 5px;
    aspect-ratio: 3 / 4;
    // object-fit: contain;

    &_circle {
      width: 15%;
      aspect-ratio: 1 / 1;
      border-radius: 100%;
    }
  }

  &__about {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &_width_95 {
      width: 95%;
      margin: 0 auto;
    }
  }

  &__description {
    width: 100%;
    font-size: 1vw;
    text-align: justify;

    @include media(desktop) {
      font-size: 1.2vw;
      margin-bottom: 1vw;
    }

    @include media(mobile) {
      font-size: 1.5vw;
    }

    @include media(smallest) {
      font-size: 3vw;
    }
  }

  &__info {
    // font-weight: bold;
    width: 100%;
    font-size: 1vw;

    // text-align: justify;
    @include media(desktop) {
      font-size: 1.2vw;
    }

    @include media(mobile) {
      font-size: 1.7vw;
    }

    @include media(smallest) {
      font-size: 2.8vw;
    }
  }

  &__sessions .sessions__session {
    // border: 1px solid c.$light-blue-color;
    box-shadow: 0px 0px 7px 2px rgba(255, 154, 118, 0.5);
  }
}

// .v-rating {
//   width: 100%;
//   display: flex;
//   justify-content: space-between;

//   @include media(mobile) {
//     width: 75%;
//     margin: 0 auto;
//   }

//   @include media(smallest) {
//     width: 100%;
//   }


//   .v-icon {
//     padding: 0 !important;
//   }
// }