@use '../base/mixins' as *;
@use '../base/colors' as c;
@use '../base/fonts' as f;
// @use "sass:map";

.comment-form {
  // position: relative;
  width: 95%;
  // height: 50%;
  display: flex;
  flex-direction: column;
  gap: 1vh;
  margin: 1vh auto 0;

  @include media(tablet) {
    width: 100%;
  }

  @include print() {
    display: none;
  }

  // @include media(mobile) {
  //   width: 90%;
  //   // height: 7vw;
  // }

  &__row {
    display: flex;
    justify-content: space-between;
  }

  &__input-text, &__input-number, &__textarea {
    padding-left: 10px;
    border: 2px solid c.$blue-color;
    border-radius: 5px;
    outline: none;
    background: c.$dark-blue-color;
    color: c.$blue-color;
    box-sizing: border-box;
    font-size: 1.5vw;
    color: black;
    @extend %font-raleway;

    @include media(tablet) {
      font-size: 2vw;
    }

    @include media(mobile) {
      font-size: 4vw;
    }

    &::placeholder {
      font-size: 1.5vw;

      @include media(tablet) {
        font-size: 2vw;
      }

      @include media(mobile) {
        font-size: 4vw;
      }
    }
  }

  &__input-text {
    width: 70%;
    height: 5vh;

    @include media(tablet) {
      width: 64%;
    }
  
    // @include media(mobile) {
    //   width: 90%;
    //   // height: 7vw;
    // }
  }

  &__input-number {
    width: 29%;
    height: 5vh;

    @include media(tablet) {
      width: 35%;
    }
  }

  &__textarea {
    width: 100%;
    // height: 4.5vh;
    resize: none;
  }

  &__button-sumbit {
    // position: absolute;
    // top: 0;
    // right: 0;
    width: 100%;
    height: 5vh;
    border: none;
    color: c.$dark-blue-color;
    background: c.$blue-color;
    border-radius: 5px;
    font-size: 1.5vw;
    cursor: pointer;
    margin: 0 auto;

    @include media(tablet) {
      font-size: 2vw;
    }

    @include media(mobile) {
      font-size: 4vw;
    }

    // &:before {
    //   content: "\1F50D";
    //   // font-family: var(--fa-font);
    //   font-size: 16px;
    //   color: #F9F0DA;
    // }
  }
}