@use '../base/colors' as c;

.form {
  &__legend {
    text-align: center;
    margin-bottom: 2vh;
    font-size: 2.5rem;
  }

  &__fieldset {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 2vw;
    border: none;
  }

  &__buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 2vw;
    margin-top: 1.5vw;
  }

  &__button {
    width: 13vw;
    height: 3vw;
    background-color: c.$blue-color;
    color: c.$beige-color !important;
    text-align: center;
    font-size: 2vw;
    display: block;

    &:disabled {
      cursor: default;
      opacity: 0.3;
    }
  }

  &__label {
    font-size: 1.5rem;
    margin-right: 3vw;
  }

  &__input {
    width: 15vw;
    height: 1.5vw;
    background-color: c.$beige-color;
  }

  &__checkbox {
    width: 1.2vw;
    height: 1.2vw;
    background: c.$beige-color;
  }
}

::placeholder {
  font-size: 0.8vw;
}
