@use '../base/mixins' as *;
@use '../base/colors' as c;

.nav {
  max-height: 5vw;
  margin-right: 1.5vw;

  @include media(tablet) {
    max-height: 7vw;
  }

  @include media(mobile) {
    max-height: 90vh;
  }

  &__list {
    height: 5vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 1.2vw;

    @include media(tablet) {
      height: 7vw;
    }

    @include media(mobile) {
      flex-direction: column;
      height: auto;
      row-gap: 2vw;
      margin-bottom: 1vw;
    }
  }

  &__item {
    font-size: 1.3vw;
    text-align: center;
    font-weight: bold;

    @include media(tablet) {
      font-size: 2vw;
    }

    @include media(mobile) {
      font-size: 4vw;

      &:last-child {
        margin-bottom: 2vw;
      }
    }

  }

  // &__link, &__profile {
  //   cursor: pointer;
  // }
}

.search-form {
  position: relative;
  width: 15vw;
  height: 50%;

  @include media(tablet) {
    width: 25vw;
  }

  @include media(mobile) {
    width: 80%;
    height: 7vw;
  }

  &__input {
    width: 100%;
    height: 100%;
    padding-left: 10px;
    border: 2px solid c.$blue-color;
    border-radius: 5px;
    outline: none;
    background: c.$dark-blue-color;
    color: c.$blue-color;
    box-sizing: border-box;
    font-size: 1vw;

    // @include media(tablet) {
    //   font-size: 1.5vw;
    // }

    // @include media(mobile) {
    //   font-size: 2vw;
    // }

    &,
    &::placeholder {
      font-size: 1vw;

      @include media(tablet) {
        font-size: 2vw;
      }

      @include media(mobile) {
        font-size: 4vw;
      }
    }
  }

  &__button {
    position: absolute;
    top: 0;
    right: 0;
    width: 42px;
    height: 100%;
    border: none;
    background: c.$blue-color;
    border-radius: 0 5px 5px 0;
    cursor: pointer;

    // &:before {
    //   content: "\1F50D";
    //   // font-family: var(--fa-font);
    //   font-size: 16px;
    //   color: #F9F0DA;
    // }
  }

  &__icon {
    height: 50%;
    fill: #F9F0DA;
  }
}

.v-chip {
  cursor: pointer;
}