@use '../base/mixins' as *;
@use '../base/placeholders' as *;
@use '../base/colors' as c;

.sessions {
  width: 100%;

  &__session {
    background-color: c.$blue-color;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    padding: 1vw;
    margin-bottom: 1vw;

    @include media(smallest) {
      flex-direction: column;
      align-items: center;
      row-gap: 2vw;
    }

    @include print() {
      box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.15);
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__title {
    text-align: center;
    margin-bottom: 1vw;

    @include print() {
      font-size: 2.5vw;
    }
  }

  &__date,
  &__cinema,
  &__price {
    color: c.$dark-blue-color;
    font-weight: bold;

    @include print() {
      color: black;
    }
  }

  &__cinema-link {
    cursor: pointer;
    text-align: center;

    &:hover {
      color: c.$light-blue-color !important;
    }
  }

  // &__price {
  //   color: c.$dark-blue-color;
  //   font-weight: bold;
  // }
}