@use '../base/placeholders' as *;
@use '../base/mixins' as *;
@use '../base/colors' as c;

.cards {
  @extend %root;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: stretch;
  flex-wrap: wrap;
  // column-gap: 4vw;
  row-gap: 2vw;
  padding: 1vw 0;

  @include media(smallest) {
    width: 100%;
    flex-direction: column;
    margin: 0 auto;
  }

  &_width_80 {
    width: 80%;

    @include media(mobile) {
      width: 90%;
    }

    & .cards__refresh {
      width: 50%;
      margin: 0 25%;
    }
  }

  &__controls {
    display: flex;
    justify-content: space-around;
    width: 100%;

    @include media(mobile) {
      flex-direction: column;
      align-items: center;
      row-gap: 1.5vh;
    }

    @include media(smallest) {
      flex-direction: column;
    }

    & .cards__refresh {
      margin: 0;
    }
  }

  &__filter {
    width: 30%;
    height: 45px;
    background-color: c.$blue-color;
    color: c.$dark-blue-color;
    border: none;
    border-radius: 5px;
    font-size: 1.5vw;
    appearance: auto;

    @include media(mobile) {
      width: 60%;
      font-size: 3vw;
      height: 30px;
    }

    @include media(smallest) {
      width: 100%;
      font-size: 4vw;
    }
  }

  &__refresh {
    width: 30%;
    height: 45px;
    margin: 0 35%;
    background-color: c.$blue-color;
    color: c.$dark-blue-color;
    border: none;
    border-radius: 5px;
    font-size: 2vw;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3%;

    @include media(mobile) {
      width: 60%;
      margin: 0 20%;
      font-size: 3.5vw;
      height: 30px;
      // padding: 1.5vw;
    }

    @include media(smallest) {
      width: 100%;
      margin: 0;
      font-size: 4.5vw;
      // border-radius: 5px;
      // padding: 2vw;
    }

    @include print() {
      display: none;
    }
  }

  &__refresh-image {
    height: 20px;
    width: 20px;
    // margin-top: 5px;
    // stroke: c.$dark-blue-color;
  }

  &__link {
    display: contents;

    &:hover,
    &:visited:hover {
      color: c.$dark-blue-color !important;
    }
  }

  &__error {
    font-size: 3vw;
    margin-top: 23vh;
    text-align: center;

    @include media(tablet) {
      font-size: 5vw;
    }

    @include media(mobile) {
      font-size: 7vw;
    }
  }

  // &__card {

  // }
}