@use '../base/mixins' as *;
@use '../base/placeholders' as *;
@use '../base/colors' as c;

.cinema {
  @extend %root;
  display: flex;
  padding: 3vh 0;
  justify-content: space-between;
  flex-direction: row-reverse;

  @include media(mobile) {
    flex-direction: column-reverse;
    row-gap: 5vw;
  }

  &__about {
    width: 45%;

    @include media(mobile) {
      width: 100%;
    }
  }

  &__title {
    text-align: center;
    font-size: 2vw;
    margin-bottom: 1vw;

    @include media(tablet) {
      font-size: 4vw;
    }

    @include media(mobile) {
      font-size: 5vw;
    }

    @include media(smallest) {
      font-size: 7vw;
    }
  }

  &__description {
    margin-bottom: 1vw;
    text-align: justify;
  }


  &__info {
    font-weight: bold;
    font-size: 1.5vw;

    @include media(tablet) {
      font-size: 1.8vw;
    }

    @include media(mobile) {
      font-size: 3.5vw;
    }

    @include media(smallest) {
      font-size: 4s.5vw;
    }
  }

  &__link {
    cursor: pointer;
    color: c.$blue-color  !important;

    &:hover {
      color: c.$light-blue-color  !important;
    }
  }

  &__sessions {
    width: 50%;
    display: flex;
    flex-direction: column;

    @include media(mobile) {
      width: 100%;
    }
  }
}