@use '../base/mixins' as *;
@use '../base/placeholders' as *;
@use '../base/colors' as c;

.film {
  @extend %root;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 3vh 0;

  @include media(smallest) {
    justify-content: center;
    row-gap: 3vw;
  }

  &__title {
    width: 100%;
    font-size: 3vw;
    text-align: center;
    margin-bottom: 1vw;

    @include media(tablet) {
      font-size: 4vw;
    }

    @include media(mobile) {
      font-size: 4.5vw;
    }

    @include media(smallest) {
      font-size: 5.5vw;
    }

    @include print() {
      font-size: 4vw;
    }
  }

  &__image {
    width: 40%;
    height: fit-content;
    border-radius: 5px;
    aspect-ratio: 3 / 4;
    // object-fit: contain;

    @include print() {
      display: none;
    }
  }

  &__about {
    width: 55%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @include media(smallest) {
      width: 100%;
      row-gap: 3vw;
    }

    @include print() {
      width: 100%;
    }
  }

  &__genres {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    column-gap: 1vw;

    @include media(smallest) {
      row-gap: 3vw;
    }
  }

  &__genre {
    padding: 0.7vw 0.7vw;
    background-color: c.$blue-color;
    border-radius: 5px;
    cursor: pointer;
  }

  &__description {
    width: 100%;
    font-size: 1vw;
    text-align: justify;
    margin: 1vw 0;

    @include media(desktop) {
      font-size: 1.2vw;
    }

    @include media(tablet) {
      font-size: 1.8vw;
    }

    @include media(mobile) {
      font-size: 2.5vw;
    }

    @include media(smallest) {
      font-size: 3.5vw;
    }

    @include print() {
      font-size: 2.5vw;
    }
  }

  &__details {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &__director {
    width: 18%;
    display: flex;
    flex-direction: column;
    background-color: c.$blue-color;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    padding: 0 1vw;
    box-sizing: border-box;

    @include media(tablet) {
      width: 25%;
    }

    @include media(mobile) {
      width: 35%;
    }

    // @include media(smallest) {
    //   margin-left: 0;
    //   width: 100%;
    // }
  }

  &__director-image {
    width: 80%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    border-radius: 100%;
    margin: 1vw auto;
  }

  &__director-name {
    text-align: center;
    font-weight: bold;
    margin-bottom: 1vw;
    color: c.$dark-blue-color;

    @include media(tablet) {
      font-size: 1.8vw;
    }

    @include media(mobile) {
      font-size: 2.5vw;
    }

    @include media(smallest) {
      font-size: 3.5vw;
    }
  }

  &__infos {
    width: 80%;

    @include media(tablet) {
      width: 70%;
    }

    @include media(mobile) {
      width: 60%;
    }
  }

  &__info {
    // font-weight: bold;
    width: 100%;
    font-size: 1.5vw;
    margin-bottom: 1vw;

    // text-align: justify;
    @include media(desktop) {
      font-size: 1.2vw;
    }

    @include media(tablet) {
      font-size: 1.8vw;
    }

    @include media(mobile) {
      font-size: 2.5vw;
    }

    @include media(smallest) {
      font-size: 3.5vw;
    }

    @include print() {
      font-size: 2.5vw;
    }

    &_margin-bottom_none {
      margin-bottom: 0;
    }

    &_width_auto {
      width: auto;
      font-weight: bold;
    }

    &_text-align_center {
      text-align: center;
      font-weight: bold;

      @include media(tablet) {
        font-size: 2.5vw;
      }

      @include media(mobile) {
        font-size: 4.5vw;
        margin-left: calc(-100% / 1.2);
        width: calc(100% / 0.55);
      }

      @include media(smallest) {
        font-size: 5.5vw;
        margin-left: 0;
        width: 100%;
      }
    }
  }

  &__actors {
    margin-top: 1vw;

    @include media(mobile) {
      margin-left: calc(-100% / 1.2);
      width: calc(100% / 0.55);
    }

    @include media(smallest) {
      margin-left: 0;
      width: 100%;
    }
  }

  &__sessions {
    margin-top: 1vw;

    @include media(mobile) {
      margin-left: calc(-100% / 1.2);
      width: calc(100% / 0.55);
    }

    @include media(smallest) {
      margin-left: 0;
      width: 100%;
    }
  }
}

.actors {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  row-gap: 2vw;

  @include print() {
    margin-top: 2vw;
  }

  &__actor {
    width: 18%;
    display: flex;
    flex-direction: column;
    background-color: c.$blue-color;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.15);
    border-radius: 10px;

    @include media(tablet) {
      width: 26%;
    }

    @include print() {
      align-items: center;
      justify-content: center;
      margin-bottom: 2vw;
    }
  }

  &__image {
    width: 80%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    border-radius: 100%;
    margin: 1vw auto;

    @include print() {
      display: none;
    }
  }

  &__name {
    text-align: center;
    font-weight: bold;
    margin-bottom: 1vw;
    color: c.$dark-blue-color;

    @include media(tablet) {
      font-size: 1.8vw;
    }

    @include media(mobile) {
      font-size: 2.5vw;
    }

    @include media(smallest) {
      font-size: 3.5vw;
    }

    @include print() {
      color: black;
    }
  }
}