@use '../base/colors' as c;
@use '../base/placeholders' as *;
@use '../base/mixins' as *;

.footer {
  @extend %root;
  background-color: c.$light-blue-color !important;
  display: flex;
  padding: 3vw 0;
  box-sizing: border-box;
  min-height: 7vw;

  @include print() {
    display: none;
  }

  &__container {
    margin: 0 auto;
  background-color: c.$light-blue-color;
}

  &__title {
    text-align: center;
  }
}