@use '../base/colors' as c;
@use '../base/mixins' as *;
@use '../base/placeholders' as *;

.header {
  max-height: 5vw;
  background-color: c.$light-blue-color;
  position: sticky;
  top: 0;
  z-index: 100;
  // border-bottom: 1px solid c.$dark-blue-color;

  @include media(tablet) {
    max-height: 7vw;
  }

  @include media(mobile) {
    max-height: 100vh;
  }

  @include print() {
    display: none;
  }

  &__wrapper {
    @extend %root;
    height: 100%;
    display: flex;
    justify-content: space-between;

    @include media(mobile) {
      flex-direction: column;
    }
  }

  &__info {
    display: flex;
    align-items: center;
  }

  &__main {
    display: flex;

    @include media(mobile) {
      justify-content: space-between;
      width: 100%;
    }
  }

  &__link-logo {
    max-height: 3vw;
    padding: 1vw;
    box-sizing: content-box;

    @include media(tablet) {
      max-width: 5vw;
      max-height: 5vw;
    }

    @include media(mobile) {
      padding: 0.5vw;
    }
  }

  &__logo {
    height: 100%;
    width: 100%;
  }

  &__link {
    font-size: 1.5vw;
    font-weight: 900;
  }

  &__burger-button {
    border: none;
    background-color: transparent;
  }

  &__burger {
    cursor: pointer;

    width: 4vw;
    height: 4vw;
    padding: 0.5vw;

    @include media(tablet) {
      width: 6vw;
      height: 6vw;
    }

    @include media(fullhd) {
      display: none;
    }

    @include media(mobile) {
      display: block;
    }

    g line {
      transition: transform 0.5s ease-in-out;
    }

    &_active g line {
      stroke: rgb(148, 0, 0);

      &:nth-child(1) {
        transform: translate(15.3px, 0) rotate(45deg);
        transition: transform 0.5s ease-in-out;
      }

      &:nth-child(2) {
        transform: translate(-100px, 0);
        transition: transform 0.5s ease-in-out;
      }

      &:nth-child(3) {
        transform: translate(-42px, 28px) rotate(-45deg);
        transition: transform 0.5s ease-in-out;
      }
    }
  }

  &__menu {
    @include media(fullhd) {
      display: block;
    }

    @include media(mobile) {
      display: none;
    }

    &_shown {
      display: block;
    }
  }
}