@use '../base/colors' as c;
@use '../base/mixins' as *;
@use '../base/placeholders' as *;


.hero {
  height: calc(100vh - 5vw);
  background-color: c.$light-blue-color;

  @include media(tablet) {
    height: calc(100vh - 7vw);
  }

  @include print() {
    height: auto;
    background-color: transparent;
  }

  &__container {
    @extend %root;
    height: 100%;
    // display: flex;
    position: relative;
    z-index: 0;
    border-top: 1px solid transparent;
  }

  &__info {
    margin-top: 25vh;
    max-width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;

    @include media(tablet) {
      max-width: 90vw;
      margin: 45vh auto 0;
    }

    @include media(mobile) {
      margin-top: 35vw;
    }

    @include media(smallest) {
      margin-top: 15vh;
    }

    @include print() {
      max-width: 90%;
      margin-top: 5%;
      margin: 0 auto;
    }

    // @include media(fullhd) {
    //   max-width: 50%;
    // }

    // @include media(widescreen) {
    //   max-width: 40%;
    // }
  }

  &__title {
    color: c.$dark-blue-color;
    font-size: 2.5em;
    width: 100%;
    text-align: center;

    @include print() {
      color: black;
    }
  }

  &__text {
    text-align: center;
    color: c.$dark-blue-color;
    font-size: 1.5em;
    margin-top: 1%;
    width: 90%;

    @include print() {
      color: black;
    }
  }

  &__button {
    width: 15em;
    height: 3em;
    margin: 5% auto 0;
    background-color: c.$blue-color;
    color: c.$dark-blue-color;
    font-size: 1.2em;
    font-weight: bold;
    border: none;
    border-radius: 5px;

    @include print() {
      display: none;
    }
  }


  &__image {
    position: absolute;
    top: 20vh;
    right: 7%;
    width: 40%;
    display: block;

    @include media(tablet) {
      width: 50vw;
      top: 0;
      right: 20vw;
      margin: 0 auto;
    }

    @include media(smallest) {
      display: none;
    }

    @include print() {
      display: none;
    }

    // @include media(desktop) {
    //   width: 40%;
    // }
  }
}