@use '../base/mixins' as *;
@use '../base/placeholders' as *;
@use '../base/colors' as c;

.section {
  padding: 1vw 0;
  min-height: calc(100vh - 13vw);

  @include media(tablet) {
    min-height: calc(100vh - 15vw);
  }

  @include print() {
    padding: 0;
  }

  &_dark {
    background-color: c.$light-blue-color;
  }

  &__container {
    @extend %root;
    margin-bottom: 2vw;
    border-bottom: 1px solid transparent;

    &_display_flex {
      display: flex;
      justify-content: space-between;

      @include media(tablet) {
        flex-direction: column;
        align-items: center;
      }
    }
  }

  &__title {
    font-size: 2.5vw;
    text-align: center;
    margin-top: 1vw;
    // margin-bottom: 1vw;

    @include media(mobile) {
      font-size: 4vw;
      margin-bottom: 2vw;
    }

    @include media(smallest) {
      font-size: 7vw;
      margin-bottom: 3vw;
    }

    &_dark {
      color: c.$dark-blue-color;
    }
  }

  &__left {
    width: 35%;

    @include media(tablet) {
      width: 50%;
      margin-bottom: 2vw;
    }

    @include media(mobile) {
      width: 70%;
    }

    @include media(smallest) {
      width: 100%;
    }
  }

  &__right {
    width: 55%;

    @include media(tablet) {
      width: 70%;
    }

    @include media(mobile) {
      width: 85%;
    }

    @include media(smallest) {
      width: 100%;
    }
  }

  &__cards {
    margin-bottom: 2vw;
  }

  &__comment {
    @include print() {
      display: none;
    }
  }
}