@use './fonts' as f;
@use './colors' as c;
@use "sass:map";
@use './mixins' as *;

* {
  margin: 0;
  padding: 0;

  @include print() {
    color: black;
  }
}

body {
  @extend %font-raleway;
  font-weight: map.get(f.$raleway, "weights", "regular");
  background-color: c.$light-blue-color;
  min-height: 100vh;

  // @include print() {
  //   break-inside: avoid;
  //   // bre
  // }

  >footer {
    position: sticky;
    top: 100vh;
  }

  &::-webkit-scrollbar {
    width: 14px;
  }

  &::-webkit-scrollbar-track {
    background: c.$blue-color;
  }

  &::-webkit-scrollbar-thumb {
    background-color: c.$dark-blue-color;
    border-radius: 20px;
    border: 3.5px solid c.$blue-color;
  }
}


main {
  background-color: c.$dark-blue-color;
}

li {
  list-style-type: none;

  ul {
    margin-left: 0;
    padding-left: 0;
  }
}

a,
a:visited {
  text-decoration: none;
  color: c.$dark-blue-color;

  &:hover {
    color: c.$blue-color;
    transition: color 0.3s ease-in-out;
  }
}

button:hover {
  cursor: pointer;
}

.title {
  padding-top: 1vw;
  text-align: center;

  @include media(mobile) {
    font-size: 3.5vw;
  }

  @include media(smallest) {
    font-size: 5.5vw;
  }
}

.error {
  color: c.$light-blue-color;
  text-align: center;
  margin-top: 25vh;
  font-size: 3vw;

  @include media(tablet) {
    font-size: 4vw;
  }

  @include media(mobile) {
    font-size: 6vw;
  }
}

.button-top {
  position: fixed !important;
  bottom: 25px;
  right: 25px;
  z-index: 99;

  @include print() {
    display: none;
  }
}