$small: 425px;
$mobile: 768px;
$tablet: 1024px;
$desktop: 1216px;
$widescreen: 1440px;
$fullhd: 9999px;

@mixin media($media) {
  @if $media == smallest {
    @media only screen and (max-width: $small) { @content; }
  }
  @else if $media == mobile {
    @media only screen and (max-width: $mobile) { @content; }
  }
  @else if $media == tablet {
    @media only screen and (max-width: $tablet) { @content; }
  }
  @else if $media == desktop {
    @media only screen and (max-width: $desktop) { @content; }
  }
  @else if $media == widescreen {
    @media only screen and (max-width: $widescreen) { @content; }
  } 
  @else if $media == fullhd {
    @media only screen and (max-width: $fullhd) { @content; }
  }
}

@mixin print() {
  @media only print { @content; }
}

