<template>
  <main>
    <section class="section">
      <div class="film">
        <img class="film__image" :src="film.poster" :alt="film.title" />
        <div class="film__about">
          <h1 class="film__title">{{ film.title }} ({{ film.minage }}+)</h1>

          <p class="film__description">{{ film.description }}</p>

          <div class="film__details">
            <div class="film__infos">
              <p class="film__info"><strong>Год:</strong> {{ film.year }}</p>
              <p class="film__info">
                <strong>Страна:</strong> {{ film.country }}
              </p>
              <p class="film__info">
                <strong>Режиссёр:</strong> {{ film.director }}
              </p>
              <p class="film__info">
                <strong>Длительность:</strong> {{ film.duration }} минут
              </p>
              <p class="film__info">
                <strong>Премьера:</strong>
                {{ film.premiere | formatDate("Date") }}
              </p>
            </div>
          </div>

          <p class="film__info film__info_text-align_center">Актёры</p>
          <div class="film__actors actors">
            <div class="actors__actor" v-for="actor in actors" :key="actor.id">
              <img class="actors__image" :src="actor.photo" alt="" />
              <p class="actors__name">{{ actor.name }}</p>
            </div>
          </div>

          <div class="film__sessions sessions">
            <h2 class="sessions__title">Расписание сеансов</h2>
            <div
              class="sessions__session"
              v-for="film_session in getSchedule"
              :key="film_session.id"
            >
              <p class="sessions__date">
                {{ film_session.date | formatDate("DateAndTime") }}
              </p>
              <p class="sessions__cinema">{{ film_session.cinema }}</p>
              <p class="sessions__price">{{ film_session.price }} рублей</p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="section">
      <h2 class="section__title">Отзывы о фильме</h2>
      <ListConstructor type="comments-film" :id="filmId" />
    </section>
  </main>
</template>

<script>
import ListConstructor from "../components/ListConstructor.vue";
export default {
  name: "FilmPage",
  components: {
    ListConstructor,
  },
  created: function () {
    this.$store
      .dispatch("loadFilmById", this.filmId)
      .then((response) => (this.film = response));

    this.$store
      .dispatch("loadActorsByFilmId", this.filmId)
      .then((response) => (this.actors = response));

    this.$store.dispatch("loadScheduleByFilmId", this.filmId);
  },
  data: function () {
    return {
      filmId: this.$route.params.id,
      film: {},
      actors: [],
    };
  },
  methods: {},
  computed: {
    getSchedule() {
      return this.$store.getters.getSchedule;
    },
  },
};
</script>

<style lang="scss" scoped>
</style>
