<template>
  <main>
    <section class="hero">
      <div class="hero__container">
        <div class="hero__info">
          <h1 class="hero__title">Киноафиша «Фильмы рядом»</h1>
          <p class="hero__text">
            «Фильмы рядом» — сайт, который предоставляет полную информацию о
            фильмах в прокате. Мы поможем Вам найти фильм по душе
          </p>
          <button class="hero__button" @click="scrollToFilms">
            Выбрать фильм
          </button>
        </div>
        <img src="images/hero_image.png" alt="popcorn-picture" class="hero__image" />
      </div>
    </section>

    <section class="section" ref="films">
      <h2 class="section__title">Фильмы в прокате</h2>
      <ListConstructor type="films" />
    </section>

    <section class="section section_dark">
      <h2 class="section__title section__title_dark">Отзывы о сайте</h2>
      <ListConstructor type="comments-site" />
    </section>
  </main>
</template>

<script>
import ListConstructor from "../components/ListConstructor.vue";

export default {
  name: "MainPage",
  components: {
    ListConstructor,
  },
  created: function () {},
  data: function () {
    return {};
  },
  methods: {
    scrollToFilms() {
      this.$refs.films.scrollIntoView({ behavior: "smooth" });
    },
  },
  computed: {},
};
</script>

<style lang="scss" scoped>
</style>
