<template>
  <main>
    <div class="cards">
      <h1 class="title" hidden>Киноафиша</h1>
      <section class="section">
        <h2 class="section__title">Скоро здесь будет профиль</h2>
      </section>
    </div>
  </main>
</template>

<script>
export default {
  name: "SearchPage",
  components: {},
  created: function () {},
  data: function () {
    return {};
  },
  watch: {},
  methods: {},
  computed: {},
};
</script>

<style lang="scss" scoped>
</style>
