<template>
  <main>
    <div class="cards">
      <!-- <v-card
      class="mx-auto card"
      width="450"
      v-for="article in getArticlesList"
      :key="article.id"
    >
      <v-img
        class="white--text align-end"
        height="200px"
        :src="'images/' + article.preview_image"
      >
        <v-card-title
          class="card__title"
          style="background-color: rgb(0, 0, 0, 0.4)"
          >{{ article.name }}</v-card-title
        >
      </v-img>

      <v-card-text class="text--primary">
        {{
          article.shortDesc
            ? article.shortDesc
            : "К сожалению, у данной статьи нет описания"
        }}
      </v-card-text>

      <v-card-actions>
        <v-btn color="orange" text>
          <router-link
            :to="{
              name: 'articleId',
              params: { id: article.id },
            }"
            >Читать полностью</router-link
          >
        </v-btn>
      </v-card-actions>
    </v-card> -->

      <h1 class="title" hidden>Киноафиша</h1>
      <section class="section">
        <h2 class="section__title">Результаты поиска</h2>
        <ListConstructor type="search-films" :query="query" :key="query" />
      </section>
    </div>
  </main>
</template>

<script>
import ListConstructor from "../components/ListConstructor.vue";
export default {
  name: "SearchPage",
  components: {
    ListConstructor,
  },
  created: function () {},
  data: function () {
    return {
      query: this.$route.params.query,
    };
  },
  watch: {
		$route() {
			this.query = this.$route.params.query;
		}
	},
  methods: {},
  computed: {},
};
</script>

<style lang="scss" scoped>
</style>
