<template>
  <div class="card card_width_45">
    <div class="card__top">
      <h3 class="card__title">
        {{ comment.author.name }}
      </h3>
      <v-rating
        color="#ffeadb"
        background-color="#ffeadb"
        empty-icon="mdi-star-outline"
        full-icon="mdi-star"
        half-increments
        length="5"
        readonly
        :value="comment.rating / 2"
      ></v-rating>
    </div>
    <!-- <img class="card__image" :src="film.poster" :alt="film.title" /> -->
    <div class="card__about card__about_width_95">
      <p class="card__description">
        {{ comment.text | truncate(120) }}
      </p>
      <!-- <div>
        <p class="card__info"><strong>Год:</strong> {{ film.year }}</p>
        <p class="card__info"><strong>Страна:</strong> {{ film.country }}</p>
        <p class="card__info">
          <strong>Длительность:</strong> {{ film.duration }} минут
        </p>
        <p class="card__info">
          <strong>Премьера:</strong> {{ film.premiere | formatDate("Date") }}
        </p>
      </div> -->
    </div>
  </div>
</template>

<script>
export default {
  name: "CommentCard",
  props: {
    comment: {},
  },
  created: function () {},
  data: function () {
    return {};
  },
  methods: {},
};
</script>

<style lang="scss">
</style>