<template>
  <!-- <form action="https://httpbin.org/anything" method="post" class="comment-form"> -->
  <form action="/" method="post" @submit="postComment" class="comment-form">
    <div class="comment-form__row">
      <input
        name="name"
        v-model="form.author.name"
        type="text"
        placeholder="Имя"
        inputmode="text"
        required
        class="comment-form__input-text"
      />
      <input
        name="rating"
        v-model="form.rating"
        type="number"
        placeholder="Оценка (1-10)"
        min="1"
        max="10"
        inputmode="numeric"
        required
        class="comment-form__input-number"
      />
    </div>
    <textarea
      name="comment"
      v-model="form.text"
      placeholder="Комментарий"
      id=""
      cols="30"
      rows="5"
      inputmode="text"
      required
      class="comment-form__textarea"
    ></textarea>
    <button class="comment-form__button-sumbit">Опубликовать отзыв</button>
  </form>
</template>

<script>
export default {
  name: "CommentForm",
  props: {
    id: {
      type: String,
      required: false,
    },
  },
  created: function () {},
  data: function () {
    return {
      form: {
        id: null,
        author: {
          name: "",
        },
        rating: null,
        text: "",
      },
    };
  },
  methods: {
    postComment(e) {
      e.preventDefault();
      this.form.id = Math.floor(Math.random() * 100000);
      let data = this.form;
      // console.log("Отправка JSON данных", data);
      // console.log(this.id);
      // this.author.film_id = this.id;
      if (this.id != undefined) { 
      this.$store.dispatch("postCommentsFilm", data);
       } else {
      this.$store.dispatch("postCommentsSite", data);
      }
      // .then((response) => (this.actors = response));
      this.$emit("refreshList");
      this.$emit("true-snackbar");

      this.form = {
        id: null,
        author: {
          name: "",
        },
        rating: null,
        text: "",
      };
    },
  },
};
</script>

<style lang="scss">
</style>