<template>
  <router-link
    :to="{
      name: 'film',
      params: { id: film.id },
    }"
    class="cards__link"
  >
    <div class="card">
      <h3 class="card__title">{{ film.title }} ({{ film.minage }}+)</h3>
      <img class="card__image" :src="film.poster" :alt="film.title" />
      <div class="card__about">
        <p class="card__description">
          {{ film.description | truncate(120) }}
        </p>
        <div>
          <p class="card__info"><strong>Год:</strong> {{ film.year }}</p>
          <p class="card__info"><strong>Страна:</strong> {{ film.country }}</p>
          <p class="card__info">
            <strong>Длительность:</strong> {{ film.duration }} минут
          </p>
          <p class="card__info">
            <strong>Премьера:</strong> {{ film.premiere | formatDate("Date") }}
          </p>
        </div>
      </div>
    </div>
  </router-link>
</template>

<script>
export default {
  name: "FilmCard",
  props: {
    film: {},
  },
  created: function () {},
  data: function () {
    return {};
  },
  methods: {},
};
</script>

<style lang="scss">
</style>