<template>
  <div class="section__list">
    <div v-if="type == 'films'" class="section__cards cards">
      <div class="cards__controls">
        <select name="sort" ref="sort" @change="sortList" class="cards__filter">
          <option value="premiere-asc">Дата премьеры (по возр.)</option>
          <option value="premiere-desc">Дата премьеры (по убыв.)</option>
          <option value="title-asc">Имя (по возр.)</option>
          <option value="title-desc">Имя (по убыв.)</option>
          <option value="duration-asc">Продолжительность (по возр.)</option>
          <option value="duration-desc">Продолжительность (по убыв.)</option>
        </select>
        <select
          name="filter-minage"
          ref="filter"
          @change="filterList"
          class="cards__filter"
        >
          <option value="default">Минимальный возраст</option>
          <option value="minage-12">12+</option>
          <option value="minage-16">16+</option>
          <option value="minage-18">18+</option>
        </select>
        <!-- <select name="filter-duration" ref="filter" @change="filterList" class="cards__filter">
          <option value="default">Продолжительность фильма</option>
          <option value="duration-">Более 1.5 часов</option>
          <option value="duration-18">Более 2 часов</option>
        </select> -->
        <button class="cards__refresh" @click="refreshList">
          Обновить фильмы
          <svg
            class="cards__refresh-image"
            viewBox="0 0 16 16"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
          >
            <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
            <g
              id="SVGRepo_tracerCarrier"
              stroke-linecap="round"
              stroke-linejoin="round"
            ></g>
            <g id="SVGRepo_iconCarrier">
              <path
                fill="#ffeadb"
                d="M7.248 1.307A.75.75 0 118.252.193l2.5 2.25a.75.75 0 010 1.114l-2.5 2.25a.75.75 0 01-1.004-1.114l1.29-1.161a4.5 4.5 0 103.655 2.832.75.75 0 111.398-.546A6 6 0 118.018 2l-.77-.693z"
              ></path>
            </g>
          </svg>
        </button>
      </div>
      <FilmCard
        v-for="film in getFilteredFilmsList"
        :key="film.id"
        :film="film"
      />
    </div>
    <div
      v-if="type == 'search-films' && getSearchResult.length != 0"
      class="section__cards cards"
    >
      <button class="cards__refresh" @click="refreshList">
        Обновить фильмы
        <svg
          class="cards__refresh-image"
          viewBox="0 0 16 16"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
        >
          <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
          <g
            id="SVGRepo_tracerCarrier"
            stroke-linecap="round"
            stroke-linejoin="round"
          ></g>
          <g id="SVGRepo_iconCarrier">
            <path
              fill="#ffeadb"
              d="M7.248 1.307A.75.75 0 118.252.193l2.5 2.25a.75.75 0 010 1.114l-2.5 2.25a.75.75 0 01-1.004-1.114l1.29-1.161a4.5 4.5 0 103.655 2.832.75.75 0 111.398-.546A6 6 0 118.018 2l-.77-.693z"
            ></path>
          </g>
        </svg>
      </button>
      <FilmCard v-for="film in getSearchResult" :key="film.id" :film="film" />
    </div>
    <div
      v-if="type == 'search-films' && getSearchResult.length == 0"
      class="section__cards cards"
    >
      <p class="cards__error">
        К сожалению, по Вашему запросу ничего не нашлось(
      </p>
    </div>
    <div
      v-if="type == 'comments-site'"
      class="section__cards cards cards_width_80"
    >
      
    <CommentCard
        v-for="comment in getCommentsSiteList"
        :key="comment.id"
        :comment="comment"
      />
      <CommentForm @refreshList="refreshList" @true-snackbar="snackbar = true" />

      <v-snackbar
      v-model="snackbar"
    >
      Ваш комментарий успешно добавлен

      <template v-slot:action="{ attrs }">
        <v-btn
          color="red"
          text
          v-bind="attrs"
          @click="snackbar = false"
        >
          Close
        </v-btn>
      </template>
    </v-snackbar>
    </div>
    <div
      v-if="type == 'comments-film'"
      class="section__cards cards cards_width_80"
    >
      
    <CommentCard
        v-for="comment in getCommentsFilmList"
        :key="comment.id"
        :comment="comment"
        class="section__comment"
      />
      <CommentForm :id="this.$props.id" @refreshList="refreshList" @true-snackbar="snackbar = true" />

      <v-snackbar
      v-model="snackbar"
    >
      Ваш комментарий успешно добавлен

      <template v-slot:action="{ attrs }">
        <v-btn
          color="red"
          text
          v-bind="attrs"
          @click="snackbar = false"
        >
          Close
        </v-btn>
      </template>
    </v-snackbar>
    </div>
  </div>
</template>

<script>
import FilmCard from "./FilmCard.vue";
import CommentCard from "./CommentCard.vue";
import CommentForm from "../components/CommentForm.vue";

export default {
  name: "FilmsList",
  components: {
    FilmCard,
    CommentCard,
    CommentForm,
  },
  props: {
    type: {
      type: String,
      required: true,
    },
    query: {
      type: String,
      required: false,
    },
    id: {
      type: String,
      required: false,
    },
  },
  created: function () {
    if (this.type == "films") {
      this.$store
        .dispatch("loadFilms")
        .then(this.$store.dispatch("sortFilms", ["premiere", "asc"]))
        .then(this.$store.dispatch("filterFilms", ["default", "default"]));
    } else if (this.type == "search-films") {
      this.$store.dispatch("getSearchResult", this.query);
    } else if (this.type == "comments-site") {
      this.$store.dispatch("loadCommentsSite");
    } else if (this.type == "comments-film") {
      this.$store.dispatch("loadCommentsFilm", this.id);
    }
  },
  data: function () {
    return {
      snackbar: false,
    };
  },
  methods: {
    refreshList() {
      if (this.type == "films") {
        this.$store.commit("setFilteredFilms", []);
        this.$store.dispatch("sortFilms", ["premiere", "asc"]);
      } else if (this.type == "search-films") {
        this.$store.commit("setSearchResult", []);
        this.$store.dispatch("getSearchResult", this.query);
      }
    },
    sortList() {
      let values = this.$refs.sort.value.split("-");
      // console.log("sortFilms", values[0], values[1]);
      this.$store.dispatch("sortFilms", values);
    },
    filterList() {
      let values = this.$refs.filter.value.split("-");
      // console.log("sortFilms", values[0], values[1]);
      this.$store.dispatch("filterFilms", values);
      this.sortList();
    },
  },
  computed: {
    getFilmsList() {
      return this.$store.getters.getFilms;
    },
    getSearchResult() {
      return this.$store.getters.getSearchResult;
    },
    getCommentsSiteList() {
      return this.$store.getters.getCommentsSite;
    },
    getCommentsFilmList() {
      return this.$store.getters.getCommentsFilm;
    },
    getFilteredFilmsList() {
      return this.$store.getters.getFilteredFilms;
    },
  },
};
</script>

<style lang="scss">
</style>