<template>
  <div id="app" ref="top">
    <header class="header">
      <div class="header__wrapper">
        <div class="header__main">
          <router-link to="/" class="header__link-logo">
            <img src="images/cinema_logo.svg" alt="Logo" class="header__logo" />
          </router-link>
          <button
            class="header__burger-button"
            ref="burger"
            @click="burgerToggle"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="5 -5 85 75"
              class="header__burger"
            >
              <g>
                <line
                  x1="10"
                  y1="10"
                  x2="90"
                  y2="10"
                  stroke-width="3"
                  stroke="blue"
                />
                <line
                  x1="10"
                  y1="40"
                  x2="90"
                  y2="40"
                  stroke-width="3"
                  stroke="blue"
                />
                <line
                  x1="10"
                  y1="70"
                  x2="90"
                  y2="70"
                  stroke-width="3"
                  stroke="blue"
                />
              </g>
            </svg>
          </button>
        </div>
        <div class="header__menu nav" ref="menu">
          <ul class="nav__list">
            <li class="nav__item">
              <router-link to="/" class="nav__link">Главная</router-link>
            </li>
            <li class="nav__item">
              <router-link to="/films" class="nav__link">Фильмы</router-link>
            </li>
            <li class="nav__item">
              <router-link to="/films/7" class="nav__link"
                >Фильм месяца</router-link
              >
            </li>
            <li class="nav__item">
              <a href="/main.json" class="nav__link">JSON-file</a>
            </li>
            <li class="nav__item">
              <a
                href="https://gitlab.com/GeGePa/vue-exam-3sem"
                class="nav__link"
                >GIT-репозиторий</a
              >
            </li>
            <li class="nav__item">
              <router-link to="/profile" class="nav__link"
                ><v-chip class="nav__profile" color="#ffeadb" outlined pill>
                  JackFarral
                  <v-icon right> mdi-account-outline </v-icon>
                </v-chip></router-link
              >
            </li>
            <form class="nav__item search-form" @submit="search">
              <input
                class="search-form__input"
                name="q"
                type="text"
                inputmode="search"
                placeholder="Поиск"
                v-model="query"
              />
              <button class="search-form__button" type="submit">
                <svg
                  class="search-form__icon"
                  fill="#000000"
                  viewBox="0 0 32 32"
                  enable-background="new 0 0 32 32"
                  id="Glyph"
                  version="1.1"
                  xml:space="preserve"
                  xmlns="http://www.w3.org/2000/svg"
                  xmlns:xlink="http://www.w3.org/1999/xlink"
                >
                  <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                  <g
                    id="SVGRepo_tracerCarrier"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  ></g>
                  <g id="SVGRepo_iconCarrier">
                    <path
                      d="M27.414,24.586l-5.077-5.077C23.386,17.928,24,16.035,24,14c0-5.514-4.486-10-10-10S4,8.486,4,14 s4.486,10,10,10c2.035,0,3.928-0.614,5.509-1.663l5.077,5.077c0.78,0.781,2.048,0.781,2.828,0 C28.195,26.633,28.195,25.367,27.414,24.586z M7,14c0-3.86,3.14-7,7-7s7,3.14,7,7s-3.14,7-7,7S7,17.86,7,14z"
                      id="XMLID_223_"
                    ></path>
                  </g>
                </svg>
              </button>
            </form>
          </ul>
        </div>
      </div>
    </header>

    <router-view class="pb-10 mb-16"></router-view>

    <v-btn color="#ffeadb" class="button-top" @click="scrollToTop" fab>
      <v-icon color="black">mdi-arrow-up</v-icon>
    </v-btn>

    <v-footer class="footer">
      <div class="footer__container">
        <p class="footer__title text-center">
          {{ new Date().getFullYear() }} — <strong>"Киноафиша"</strong> — сделал
          <a href="https://gitlab.com/GeGePa/vue-exam-3sem"
            >Гейне Генрих Павлович 211-321</a
          >
        </p>
      </div>
    </v-footer>

    <!-- <footer class="footer">
      <div class="footer__container">
        <p class="footer__title">
          {{ new Date().getFullYear() }} — <strong>"Киноафиша"</strong> — сделал
          <a href="https://gitlab.com/GeGePa/vue-exam-3sem"
            >Гейне Генрих Павлович 211-321</a
          >
        </p>
      </div>
    </footer> -->
  </div>
</template>

<script>
export default {
  name: "App",
  components: {},
  data: function () {
    return {
      query: "",
    };
  },
  methods: {
    burgerToggle() {
      this.$refs.burger.classList.toggle("header__burger_active");
      this.$refs.menu.classList.toggle("header__menu_shown");
    },
    search(e) {
      e.preventDefault();
      if (this.$router.currentRoute.name != "search") {
        this.$router.push({ name: "search", params: { query: this.query } });
      } else {
        this.$router.push({ name: "main" });
        this.$router.replace({ name: "search", params: { query: this.query } });
      }
    },
    scrollToTop() {
      // this.$refs.films.scrollIntoView({ behavior: "smooth" });
      // window.scrollTo(0,0)
      this.$refs.top.scrollIntoView({ behavior: "smooth" });
    },
  },
};
</script>

<style lang="scss">
@import "style/main";
</style>